@keyframes appear-from-top {
	0% {
		transform: translateY(-50rem);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
